*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-size: 16px;
  line-height: 1.2;
  font-family: Lato;
  background-color: $cWhite;
  color: $cText;
}

a {
  text-decoration: none;
  color: $cText;
}

button,
input,
textarea {
  background: transparent;
  outline: none;
  border: 0;
  font-family: Lato;
  font-size: 16px;
  line-height: 1.2;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

.container {
  margin: 0 auto;
  max-width: 1740px;
  padding: 0 40px;

  @media(max-width: 1440px) {
     max-width: 1280px;
  }

  @media(max-width: 1200px) {
    max-width: auto;
  }

  @media(max-width: 1024px) {
    padding: 0 20px;
  }
}

.page-container {
  padding-top: 102px;
  position: relative;

  @media(max-width: 1024px) {
    padding-top: 88px;
  }
}

.opacity {
  opacity: 0.75;
}


